a{
    color: white;
}

/* This is the CSS code for the blamket rules */

h1,h2,h3,h4,h5{
    font-family: 'Sansita', sans-serif;
}
p,ul,li,div{
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    max-width: 960px;
    margin: 0 auto;
}


/* This is the CSS code for the logo area */
#titletop{
    background-color: #0e89d5;
}

.logo{
    max-width: 40px;
    height: 40px;
}

.titlebanner{
   display: inline;
   padding-left:30px;
    font-size: 2em;
    text-align: center;
}




/* This is the CSS code for coding the header */

#topinfo{
    font-size: .70em;
   
    padding-left: 50px;
}

/* the following code bellow is for mobile only */

 /* @media only screen and (max-width: 600px) */
 
.franklinhead{
 font-size: 3em;
}

.locinfo{
    font-size: 1.3em;
    padding-right: 70px;
}




/* This is the CSS code for coding the boxes*/

.rcorners{
    align-self:center;
    Background-color:rgba(200,200,200,6);
margin:.2em auto;
border:1px solid;
border-radius:15px;
}
.tempature{
    text-align: center;
    font-size: 1.25em;
    
}
.wind{
    text-align: center;
    font-size: 2em;
}
.weather{
    text-align: center;
}
.rain{
    height: 100%;
    width: 100%;
}
.windmph{
    position: relative;
    top: 100px;
}
.gauge{
    transform: rotate(240deg);
}
.current{
    font-size: 3em;
}
.high {
    color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.low{
    color:blue;
}
.temp{
    font-size: 2em;
}
.weathercond{
    font-size:2em;
}

/* This is the CSS code for the footer */


.copy{
    background-color:#0e89d5;
}

#lastlist{

    background-color:#0e89d5;
    height: 30px;
}
.endlist{
    display: inline;
    padding: 10px;
    color: blue;
}
 