/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}

h1 {
    font-size: 10em;
    color: black;
}

h2 {
    font-size: 32em;
    text-align: center;
    border-bottom: 1px solid darkgoldenrod;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 350px;
}

header, footer, footer a {
    text-align: center;
    background-color: red;
    color: whitesmoke;
}

header img {
    width: 100px;
    height: auto;
    float: right;
}

footer {
    font-size: 5em;
}