#content{
    max-height: auto;
    max-width: 960px;
    margin: 0 auto;
}
h1{
   
    font-family: 'Major Mono Display', monospace;
}
p
{
    
    font-family: 'Noto Serif SC', serif;
}
header {
	margin: 10px auto;
	background-color: #f17f05;
	border: 1px solid #bbb;
	box-shadow: 0 0 30px #777;
	text-align: center;
}
nav{
    font-size: 20px;
    background-color: black;
}

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul.hide{
    display: none;
}
nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: green;
    border-top: 1px solid rgba(133, 23, 23, .5);
}
nav ul .hide{
    display: block;
}

nav ul li a:hover{
    background-color:brown;
}
.active{
    background-color: aquamarine;
    color: white;
}
  

header img, .headings {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}
.logo
{
    max-height: 250px;
    max-width: 100px;
    

}
.banner{
    display: inline;
     max-width: 100%;
     width: 100%;
     max-height: 100%;
     height: 300px;
}
.article{
    background-color: #dec2c8;
}



#top{
    position: relative;
    background-color: #65DEF1;
}
.town-name{
    display: block;
          margin-left: auto;
          margin-right: auto;
          width:50%;
}



.temp{
    font-size: 73px;
}
.map{
    max-width: 375px;
}
.article-image{
    max-width: 375px;
}

.temp{
    position: absolute;
    top: auto;
    left: auto;
    background-color:white;
    opacity: .60; 
}

.footer{
    background-color: rgb(67, 152, 165);
}
iframe{
    position: relative;
    max-width: 300px;
    max-height: 200px;
}
.contact-info{
    float: left;
}
.phone{
    display:flex;
justify-content: flex-start; 
}
#bottom{
    background-color: #65DEF1;
}

 .forcast{
     display: none;
 }
 
button{
    display: inline;
}