/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'Assistant', sans-serif;
    color: black;
}

h1 {
    font-size: 20.rem;
    color: orange;
}

h2 {
    font-size: 10.rem;
    text-align: center;
    border-bottom: 1px solid black;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 750px;
}

header, footer, footer a {
    text-align: center;
    background-color: blue;
    color: orange;
}

header img {
    width: 90px;
    height: 120px;
    float: right;
}

footer {
    font-size: 10px;
}