
 body{
    background-image: url('/acme/images/site/background.jpg');
    background-size: 100%;
}
nav{
    background-color: #de2226;
    display: flex;
    justify-content:flex-start;
    justify-content: space-between;
    
}
a:hover{
    background-color: #ffffff;
    color: #de2226;

}
header{
    background-color: #ffffff;
}
#content{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
h1
{
    font-family: 'Martel', serif;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    margin-left: 2em;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    display: flex;
    display:inline-block;
    

}
a{ color: #ffffff;
text-decoration: none;
padding: 20px;
}
footer{
    background-color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    background-color: #ffffff;
}
@media only screen and (max-width:425px)
{
    nav{
        float: none;
        display: flex;
        justify-content: flex-start;
        width: auto;
        height:auto;
        font-size: 10px;

    }
    
}
@media only screen and (max-width:348px)
{
    nav
    {
        font-size: 8px;
        display: flex;
        flex-wrap: nowrap;
    }
}
