body{
    background-image: url('/acme/images/site/background.jpg');
    background-size: 100%;
}
nav{
    background-color: #de2226;
    display: flex;
    justify-content:flex-start;
    justify-content: space-between;

  
   
   

}
#content{
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}



li{
    display:inline-block;
    

}
a{ color: #ffffff;
text-decoration: none;
padding: 20px;
}